body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.facebookBtn{
  width: 199px;
  height: 42px;
  background:url( '/images/login/signin-facebook-large.png');
  background-size: 199px 42px;
  text-indent: -9999px;
  border: 0 none;
}
